<html>
    <head>
        <title>sample application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    
    <body>
        <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
        <%if @error%>
            登録に失敗しました
        <%else%>
            以下の本を登録しました！
            <div>タイトル: <%=@title%></div>
            <div>著者: <%=@author%></div>
            <div>出版社: <%=@publisher%></div>
        <%end%>
    </body>
    
</html>