<html>
    <head>
        <title>sample application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    
    <body>
        <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
        ok
    </body>
    
</html>