<html>
    <head>
        <title>sample application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    
    <body>
        <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
        <table border="1">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>著者</th>
              <th>出版社</th>
            </tr>
          </thead>
          <tbody>
            <% @results.each do |result|%>
              <tr>
                <% if result['userid'] == @id %>
                  <td><%= result['title'] %></td>
                  <td><%= result['author'] %></td>
                  <td><%= result['publisher'] %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
    </body>
    
</html>